@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <div class="container-fluid px-4">
        <h2 id="title">@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <p>Use this area to provide additional information.</p>
    </div>
</main>